template(name="welcome")
  .welcome(style="background-image:url('img/cover_xmas.jpg');")
      .branding
          span.glyphicon.glyphicon-certificate
      .headline
          h1 
            | Whatever you need...
            br
            | I don't want to see you without it.
      +subscribe
