template(name="ui")
  .ui
    button.btn.btn-default
      a(href="#")
        span.glyphicon.glyphicon-chevron-right    
    
    button.btn.btn-default
      a(href="#")
        span.glyphicon.glyphicon-cog

    button.btn.btn-default
      a(href="#")
        span.glyphicon.glyphicon-search

    button.btn.btn-default
      a(href="#")
        span.glyphicon.glyphicon-user

    button.btn.btn-default
      a(href="#")
        span.glyphicon.glyphicon-off
