head
  title pop

body
  +login
  +profile

template(name="login")
  +loginButtons

template(name="profile")
  h1 Profile
  p Welcome #{user.services.twitter.screenName}
  img(src="#{user.services.twitter.profile_image_url}")
