head
  title pop

body
  .account
    +account

template(name="account")
  +usercardMini
  +loginButtons

template(name="usercardMini")
  .avatar 
    img(src="#{user.services.twitter.profile_image_url}")  
