/*

  Mixins

*/

outline()
  border 2px solid
  background transparent

chiaro()
  background-color #fff
  color #333

scuro()
  background-color secondary
  color white

.centered
  text-align center

.inactive
  opacity 0.2

btn()
  background-color transparent
  border 2px solid white
  padding 1em
  border-radius 50px
  font-weight 600
  &.inverse
    chiaro()
