/*

  Mixins

*/

outline()
  border 2px solid
  background transparent

chiaro()
  background-color #fff
  color #333

primary()
  background-color primary
  color white
  &:hover
    background-color lightness(primary, 80%)

scuro()
  background-color secondary
  color white

.centered
  text-align center

.inactive
  opacity 0.2

btn()
  border 2px solid white
  padding 1em
  border-radius 6px
  font-weight 600
  &.inverse
    chiaro()

.desaturate
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");

.overlay
  position absolute
  height 100%
  width 100%
  background-color rgba(0,0,0,0.9)
  z-index 999
  display none
  &.active
    display block
    background linear-gradient(top, white, black)
  &.soft
    opacity(0.9)

.Absolute-Center
  width: 25%;
  height: 30%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

.Center-Container
    position relative

.fill
  height 100%
  width 100%
