/*

  Sitewide

*/

body
    padding 0em
    margin 0em
    scuro()

*
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight 300

a
    text-decoration none

ul
  list-style none

.directory
    .usercard
        padding 50px

.integrations
  form
    input
      background-color transparent
      border none
      text-align center
      color white
      font-size 30px

  .integration
    position relative
