template(name="dribbble")
  if dribbbler
    +dribbbleShots
  else
    .dribbble
      form
        input(type="text", name="username", placeholder="Add your Dribbble username").form-control.input-lg
