/*

Profile Themes
---
Profile blocks are usually avatar and details,
bio and call to action

*/

.profile
  padding 30px
  position relative

  #login-buttons
    float right

  .badge
    float left

  .hello
    padding-top 10em

  .subscription
    padding-top 0em
    &.mailchimp
      padding-bottom 100px
