/*

Welcome page them

*/

.welcome
  background-position center bottom
  background-size cover
  height 100%
  width 100%
  padding 50px

  chiaro()

  h1
    font-weight 300
    font-size 48px

  .branding
    span
      font-size 36px

  #login-buttons
    position fixed
    top 20px
    right 30px
    z-index ui
    .login-button
      chiaro()

  .site-wrapper
    opacity(0.1)

  .subscription
    padding 0em
    margin-top 2em

    input
      scuro()

    button.subscribe
      color white
