template(name='profile')
  .profile.open.centered(style="background: linear-gradient(rgba(59,63,67,0.95),rgba(59,63,67,0.95)), url('#{services.twitter.profile_image_url}') no-repeat center center/100%;")
    +loginButtons    
    +badge
    +hello
    +subscribe
  +dribbble
