/*

  Integration Settings & Handle

*/

.overlay
  display none
  &.active
    display block
    background linear-gradient(top, white, black)

.config
  position absolute
  padding 20px
  border-radius 5px
  text-align center

.options
  position absolute
  right 10px
  top 10px
  z-index 1000
