/*

    Meteor LOGIN

*/

.login-display-name
    display none !important

#login-buttons
  margin 1em
  .login-button
    btn()
    color #333
    border-color #333
  .login-image
    top 11px
    left 11px
