/*

    Meteor LOGIN

*/

.login-display-name
    display none !important

#login-buttons
  margin 1em
  .login-button
    button()
    &:hover
      chiaro()
  .login-image
    top 11px
    left 11px
