/*

  Basic Usercard

*/

.usercard
  .avatar
      border-radius 50px
      margin 0.5em
      display inline-block
      vertical-align middle      
  &.basic
      text-align center;
      height 200px
      padding 200px 0px
      vertical-align middle
  button
      btn()

  h1
      margin 0em

  h5
      text-transform uppercase
      font-size 12px
      margin 0.5em
      opacity 0.2
      font-weight 700
