/*

Subscription Form

*/

.subscription
  padding 1em
  input
    btn()
    color #333
  button.subscribe
    btn()
    background-color #00aced
    border-color #00aced
    &:hover
      background-color lightness(#00aced, 60%)
      border-color lightness(#00aced, 60%)

  .message
    font-weight 600
    text-transform uppercase
    font-size 11px
    opacity(0.3)
