.ui
  position fixed
  z-index 50
  width 300px
  margin-left -245px
  border-right 1px solid rgba(255,255,255,0.1)
  height 100%
  padding 0px 70px 0px 20px
  background-color rgba(0.0.0.0,0.9)
  &.active
    margin-left 0px

  h1
    font-weight 300

  .tabs
    position absolute
    right 0px
    top 10px
    width 45px

    button
      margin 0.3em 0em
      width 35px
      height 35px
      padding 4px 0px

  form
    padding-top 10px
    border-top 1px solid rgba(255,255,255,0.1)

    h4
      margin-bottom 0em

    section.divider
      border-top 1px solid rgba(255,255,255,0.1)

    button
      .glyphicon
        margin-right 4px
