/*

  Basic Usercard

*/

.usercard
  background-size cover
  background-position center center
  .avatar
    border-radius 50px
    margin 0.5em
    display inline-block
    vertical-align middle
  .basic
    text-align center
    // background: linear-gradient(top, cobalt 80%, cobalt 90%);

  h1
      margin 0em

  h5
      color gray

  button
    margin 1em 0em


  /*

    Simple avatar left and details right usercard

  */
  &.badge
    padding 10px
    text-align left
    .avatar
      float left
    .details
      padding 1em
      h1, h5
        margin 0em
      h1
        font-size 18px
        font-weight 400
      h5
        font-size 12px
