template(name="uitabs")
  .tabs
    button.btn.btn-link.usher
      a(href="#")
        span.glyphicon.glyphicon-align-justify

    button.btn.btn-default
      a(href="{{pathFor 'home'}}")
        span.glyphicon.glyphicon-user
          

    button.btn.btn-default
      a(href="{{pathFor 'directory'}}")
        span.glyphicon.glyphicon-th-list
